.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px;
}

.carousel {
  width: 40%; /* Šířka carouselu */
  margin: auto;
  background-color: rgba(5, 31, 72, 0.7); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel img {
  max-width: 100%; /* Maximální šířka obrázku */
  max-height: 400px; /* Maximální výška obrázku */
  object-fit: contain; /* Zachování poměru stran */
}

.upload-section {
  margin-top: 40px;
}

input[type="file"] {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .about-container {
    padding: 20px;
  }

  .carousel {
    width: 100%;
    margin-top: 60px;
  }
}
.image-thumbnail {
  width: 100px;  /* Nastavte šířku náhledu */
  height: auto;  /* Udržuje správný poměr stran */
  margin-right: 10px; /* Vzdálenost mezi obrázky */
}

.image-item {
  display: inline-block;
  margin-bottom: 10px;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.upload-section {
  margin-top: 20px;
}