/* Hlavní kontejner komponenty */
.event-location {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Nadpis */
  .event-location h1 {
    color: #0047b0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  /* Text pod nadpisem */
  .event-location p {
    margin: 10px 0;
    text-align: justify;
    width: 100%;
    max-width: 800px; /* Stejná šířka jako mapa */
  }
  
  /* Kontejner mapy s rámečkem */
  .event-location .map-container {
    background-color: rgba(4, 29, 70, 0.9); /* Barva rámečku */
    padding: 10px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Vnitřní mapa */
  .event-location .map-container .leaflet-container {
    height: 400px;
    width: 100%;
    border-radius: 8px; /* Zaoblené rohy mapy */
  }
  