/* Hlavní kontejner komponenty */
.event-location {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .event-location h1, h2 {
    color: #fcc31a !important;
  }
  
  /* Kontejner mapy s rámečkem */
  .event-location .map-container {
    background-color: rgba(4, 29, 70, 0.7); /* Barva rámečku */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Vnitřní mapa */
  .event-location .map-container .leaflet-container {
    height: 200px;
    width: 100%;
    border-radius: 8px; /* Zaoblené rohy mapy */
  }
  